{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}" />

<h1>Calculator</h1>

<form action="{% url 'calculator:result' %}" method="get">
    Value 1
    <input type="text" name="value1"><br><br>
    Value 2
    <input type="text" name="value2"><br><br>
    <input type="submit" value="+" name="operator">
    <input type="submit" value="-" name="operator">
    <input type="submit" value="*" name="operator">
    <input type="submit" value="/" name="operator">
</form>
