{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}" />

<h1>Answer = {{ answer }}</h1>

<form action="{% url 'calculator:calculator' %}" method="get">
    <input type="submit" value="back" name="back">
</form>
